body{
    background-image: url("/Lib.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    height: 80px;
    background-color: black;
/* background: rgba(37, 36, 36, 0.2); */
/* backdrop-filter:blur(2px) ; */
/* border-radius: 20px; */

}
.subnav{
color: white;
font-size: 22px;
margin-right: 20px;
text-decoration: none;


}
.main{
    margin-top: 100px;
    margin-left: 400px;
    width: 430px;
    height: 400px;
    border-radius: 22px;
    background-color: rgb(34, 32, 32);
    border: 2px solid white;
}
h1{
    color: white;
    text-align: center;
}
.sub{
margin-left: 48px;
}
label{
    color: white;
    font-size: 20px;
    font-weight: 20px;
}
input{
    height: 30px;
    width:300px;
    border-radius: 22px;
}
textarea{
    height: 150px;
    width:300px;
    border-radius: 22px;
}
.but1{
    /* margin-top: 20px; */
    height: 60px;
    width:300px;
    border-radius: 22px;
}
.but1:hover{
    height: 310px;
}
.last{
    text-decoration: underline;
    float: inline-start;
    margin-left: -50px;  
    color: white;
    font-size: 20px;
    /* */

    font-weight: 20px;
}
.last:hover{
    color: hotpink;
}
.md{
    float: inline-start;
    margin-left: 1px; 
    color: white;
    font-size: 20px;
    text-align: center; 
    font-weight: 20px;
}