body{
    background-image: url("/bg.avif");
    background-size: cover;
    padding: 0;
    margin: 0;
}
.name{
    color: white;
    padding-left: 16px;
    font-size: 48px;
    margin-right: 70px;
    margin-top: 10px;
}
.subheading {
    font-family: "Caveat Brush", cursive;
    font-weight: 400px;
    font-style:normal;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;

  }
  

/* navbar Starting */
.nava{
    text-decoration: none;
    color: white;
  display:inline-flex;
    padding-left: 16px;
    padding-top: 1px;
    font-size: 15px;
    margin-right: 70px;
}
.divnav{
    margin-left: 540px;
    margin-top: -85px;
}
.nav{
    height: 50px;
    background: rgba(245, 239, 239, 0.2);
    backdrop-filter:blur(2px) ;
    border-radius: 20px;
    position: sticky;
    top: 20px;
}
/* navbar ending */