body{
    background-image: url("/bg.avif");
    background-size: cover;
    padding: 0;
    margin: 0;
}
.name{
    color: white;
    padding-left: 16px;
    font-size: 48px;
    margin-right: 70px;
    margin-top: 10px;
}
.subheading {
    font-family: "Caveat Brush", cursive;
    font-weight: 400px;
    font-style:normal;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;

  }
  
  .subheading1 {
    font-family: "Caveat Brush", cursive;
    font-weight: 400px;
    font-style:normal;
    color: white;
    font-size: 40px;
    text-align: center;

  }
/* navbar Starting */
.nava{
    text-decoration: none;
    color: white;
  display:inline-flex;
    padding-left: 16px;
    padding-top: 1px;
    font-size: 15px;
    margin-right: 70px;
}
.divnav{
    margin-left: 540px;
    margin-top: -85px;
}
.nav{
    height: 50px;
    background: rgba(245, 239, 239, 0.2);
    backdrop-filter:blur(2px) ;
    /* border-radius: 20px; */
    position: sticky;
    top: 20px;
}
/* navbar ending */

/* main div starting */

.main{
    width: 1200px;
    height: 400px;
    border-radius: 18px;
    background-color: rgba(245, 239, 239, 0.2); 
    backdrop-filter: blur(11px); 
    line-height: 40px;
    margin-left: 45px;
    padding-top: 44px;
}
.submain1{

    display: flex;
    justify-content:space-around;

}
.submain2{

    display: flex;
    justify-content:space-around;
    margin-top: 40px;

}
.div1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #1f618d;

}
.div1:hover{
    box-shadow: 8px 8px 8px 8px rgb(255, 255, 255);
}
.div2{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #c39bd3 ;

}
.div3{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #DE3163;
}

.div4{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #117a65;

}
.div5{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #CD5C5C;

}
.div6{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #f1c40f;

}
.name1{
    font-size: 30px;
   margin-top: 50px;
   margin-left: 33px;
   color: white;
}
.name2{
    font-size: 30px;
   margin-top: 50px;
   margin-left: 48px;
   color: white;
}
.name3{
    font-size: 30px;
   margin-top: 50px;
   margin-left: 43px;
   color: white;
}
.name4{
    font-size: 30px;
   margin-top: 50px;
   margin-left: 53px;
   color: white;
}
.name5{
    font-size: 30px;
   margin-top: 50px;
   margin-left: 25px;
   color: white;
}
.name6{
    font-size: 30px;
   margin-top: 50px;
   margin-left: 25px;
   color: white;
}

/* <!-- main div ending --> */

/* main div starting */



/* main div ending */
